@model List<HomeSeriesViewModel> 

@using ComicTracker.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    @foreach (var series in Model)
    {
        <div class="col-3">
            <a href="/Series?id=@series.Id">
                <img src="@series.CoverPath" alt="image description">
            </a>
            <div>
                <p>@series.Name</p>
                <p>Issues: @series.IssuesCount</p>
            </div>
        </div>
    }
</div>
