@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>
<p>We use your personal information as this Privacy Statement describes. No matter where you are, where you live, or what your citizenship is, we provide the same high standard of privacy protection to all our users around the world, regardless of their country of origin or location.</p>
<h6>Source: <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">github.com</a></h6>