<ul class="navbar-nav pr-4">
    <li>
        <input id="searchBar"
               asp-controller="Home" 
               asp-action="Index" 
               class="form-control" 
               placeholder="Search for series...">
    </li>
</ul>
