@using ComicTracker.Web.ViewModels.Entities

@model EditSeriesRelatedEntityInputModel

<div class="form-group">
    <label asp-for="Number"></label>
    <input asp-for="Number" class="form-control col-2" />
    <span asp-validation-for="Number" class="text-danger"></span>
</div>
<input type="hidden" asp-for="SeriesId" />
