@model IEnumerable<KeyValuePair<string, string>>

@section Styles
{
    <link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />
}

<div class="category-block">
    <div class="header">
        <h4>Genres</h4>
    </div>
    <ul class="category-list">
        @foreach (var genre in Model)
        {
            <li class="list-inline-item">
                <form method="post" asp-action="Delete" asp-route-id="@genre.Key">
                    <button data-toggle="tooltip" data-placement="top" title="" class="btn-link delete" data-original-title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                    <span>@genre.Value</span>
                </form>
            </li>
        }
    </ul>
</div>
